
table {
  border: 5px solid #1C6EA4;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid;
}


thead {
  background-color: #FFDC00;
  border: 1px solid;
}

.color {
  background-color: #FFDC00;
}

.menutop {
  padding-left: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.klaida {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 5px solid #1C6EA4;
  border-radius: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d6d6c2;
  text-align: center;
}

.find {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 200px;
  border: 5px solid #1C6EA4;
  border-radius: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d6d6c2;
  text-align: center;
}

.findadresas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 300px;
  border: 5px solid #1C6EA4;
  border-radius: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d6d6c2;
  text-align: center;
}

.menusmall {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  border: 5px solid #1C6EA4;
  border-radius: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d6d6c2;
}

.addc {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  weight: 200px;
  border: 5px solid #1C6EA4;
  border-radius: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d6d6c2;
}

.edit {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 5px solid #1C6EA4;
  border-radius: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d6d6c2;
}

img {
  border: 1px solid #1C6EA4;
  border-radius: 5px;
}

img:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #d6d6c2;
}

input {
  border-radius: 5px;
  margin: 5px;
  padding: 6px;
}

.marked {
  background-color: #d6d6c2;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d6d6c2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}
